$primary: #2C3333;

.navbar-brand {
    margin-right: 50% !important;
    font-size: 30px !important;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.clubPicture {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-header{
    font-size: 35px !important;
}

.card-body{
    font-size: 20px !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
    white-space:nowrap;
    overflow:hidden;
}



@import '~bootstrap/scss/bootstrap.scss';